body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

.btn-blue {
	background-color: #0088cc;
	color: #ffffff;
}

.btn-purple {
	background-color: rebeccapurple;
	color: #ffffff;
}
